/* Default */
*{
   padding: 0; margin: 0; box-sizing: border-box;
}
html, body{
   font-size: 16px; color: #333; font-family: Arial, Helvetica; background: #f9f9f9;
}
/* Header */
header{
   width: 100%; height: 140px; background: transparent; position: absolute; top: 0;
}
nav{
   max-width: 1000px; height: 100%; background: transparent; margin: 0 auto; font-size: 1.2rem; font-weight: 400; display: flex; align-items: center; border-bottom: solid #fff 2px;
}
.nav-left{
   list-style: none; display: flex; flex: 2; margin: 0 20px; justify-content: space-between;
}
.nav-left a{
   color: #fff; text-decoration: none;
}
.logo{
   margin: 0 100px;
}
.logo>img{
   width: 130px; margin: 0 auto; flex: 1;
}
.nav-right{
    list-style: none; display: flex; flex: 2; margin: 0 20px; justify-content: space-between;
}
.nav-right a{
   color: #fff; text-decoration: none;
}
/* Banner */
.banner{
   width: 100%; height: 100vh; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/banner.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.banner-wrap{
   max-width: 1000px; height: 100%; margin: 0 auto; color: #fff; display: flex; flex-direction: column;
}
.banner-wrap h1{
   font-size: 2.3rem; font-weight: bold;
}
.banner-text1{
   height: 100%; display: flex; align-items: flex-end;
}
.banner-text2{
   height: 100%; display: flex; flex-direction: column; align-items: flex-start; justify-content: center;
}
.banner-text2 p{
    margin-bottom: 7px; font-size: 1.3rem;
}
/* Location */
.location{
   width: 100%;
}
.location-wrap{
   max-width: 1000px; margin: 0 auto;
}
.location-wrap h1{
   margin: 40px; text-align: center;
}
.location-wrap img{
   width: 100%; height: 550px; margin-bottom: 30px;
}
.location-number{
   margin: 20px 0;
}
/* Footer */
footer{
   width: 100%; background: #333; color: #fff; padding: 60px 0; font-size: 1.1rem; margin-top: 70px;
}
.footer-wrap{
   max-width: 1000px; margin: 0 auto; text-align: center
}
/* ======================================================================================= */
/* ========================================= Menu ======================================== */
/* ======================================================================================= */
.main-menu{
   /*background: #1E130F;*/
}
.menu-banner{
   width: 100%; height: 100vh; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/banner-menu.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.menu-banner-wrap{
   max-width: 1000px; height: 100%; margin: 0 auto; display: flex; align-items: center; justify-content: center;
}
.menu-banner-wrap h1{
   color: #fff; font-size: 3.5rem;
}
.menu-items{
   margin-top: -100px;
}
.menu-items-wrap{
   max-width: 1000px; margin: 0 auto;
}
/* Delicacies */
.menu-blocks{
   width: 900px; margin: 0 auto; background: #fff; border-radius: 10px; overflow: hidden;
}
.menu-block{
   display: grid; grid-template-columns: 1fr 1fr; color: #333; grid-gap: 30px;
}
.menu-block img{
   width: 450px;
}
.menu-block-text{
   padding: 25px; display: flex; justify-content: center; align-items: flex-start; flex-direction: column;
}
.menu-block-text h2{
   font-size: 2.3rem;
}
.menu-block-text p{
   margin: 20px 0;
}
.menu-block-text a{
   color: #333; text-decoration: none; font-size: 1.2rem; padding: 7px 10px; border: solid #333 1px;
}
/* ======================================================================================= */
/* ======================================= Espresso ====================================== */
/* ======================================================================================= */
.espresso-banner{
   width: 100%; height: 100vh; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("images/banner-espresso.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.espresso-banner-wrap{
   max-width: 1000px; height: 100%; margin: 0 auto; display: flex; align-items: center; justify-content: center;
}
.espresso-banner-wrap{
   color: #fff; font-size: 3rem;
}
/* Espresso Items */
.espresso-wrap{
   max-width: 1000px; margin: 0 auto;
}
.espresso-items{
   display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; margin-top: 50px;
}
.espresso-item{
   padding: 10px;
}
.espresso-item b{
   font-size: 1.2rem;
}
.espresso-item p{
   font-size: 1.1rem; margin-top: 10px;
}
/* ======================================================================================= */
/* ======================================= Brewed ====================================== */
/* ======================================================================================= */
.brewed-banner{
   width: 100%; height: 100vh; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("images/banner-brewed.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.brewed-banner-wrap{
   max-width: 1000px; height: 100%; margin: 0 auto; display: flex; align-items: center; justify-content: center;
}
.brewed-banner-wrap{
   color: #fff; font-size: 3rem;
}
/* Espresso Items */
.brewed-wrap{
   max-width: 1000px; margin: 0 auto;
}
.brewed-items{
   display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; margin-top: 50px;
}
.brewed-item{
   padding: 10px;
}
.brewed-item b{
   font-size: 1.2rem;
}
.brewed-item p{
   font-size: 1.1rem; margin-top: 10px;
}
/* ======================================================================================= */
/* ====================================== Kids Menu ====================================== */
/* ======================================================================================= */
.kids-menu-banner{
   width: 100%; height: 100vh; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("images/banner-kids-menu.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.kids-menu-banner-wrap{
   max-width: 1000px; height: 100%; margin: 0 auto; display: flex; align-items: center; justify-content: center;
}
.kids-menu-banner-wrap{
   color: #fff; font-size: 3rem;
}
/* Espresso Items */
.kids-menu-wrap{
   max-width: 1000px; margin: 0 auto;
}
.kids-menu-items{
   display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; margin-top: 50px;
}
.kids-menu-item{
   padding: 10px;
}
.kids-menu-item b{
   font-size: 1.2rem;
}
.kids-menu-item p{
   font-size: 1.1rem; margin-top: 10px;
}