/* Default */
*{
   margin: 0; padding: 0; box-sizing: border-box;
}
body{
   color: #333; background: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header{
   background: #999;
}
nav{
   margin: 0 auto; max-width: 1200px; display: flex; align-items: center;
}
.nav-icon{
   width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 5px 20px;
}
#logo{
   width: 120px; margin: 0 auto;
}
#burger{
   width: 50px;
}
#nav-mobile{
   list-style: none; display: none;
}
#nav-mobile a{
   color: #333; text-decoration: none; font-weight: bold
}
#nav{
   display: none;
}










