/* Default */
*{
   margin: 0; padding: 0; box-sizing: border-box;
}
body{
   color: #333; background: #fff; font-size: 16px; font-family: Arial, Helvetica, sans-serif;
}
/* Header */
header{
   background: #999; width: 100%; height: 60px; background: rgba(67, 42, 18, 1); position: fixed; top: 0;
}
nav{
   margin: 0 auto; max-width: 960px; display: flex; padding: 0 20px;
}
.nav-icon{
   width: 100%; display: flex; justify-content: space-between;
}
#logo{
   width: 100px; height: 100px; margin-top: 5px;
}
#burger{
   width: 45px; height: 30px; margin: 15px 0;
}
#nav-mobile{
   list-style: none; display: none;
}
#nav-mobile a{
   color: #333; text-decoration: none; font-weight: bold;
}
#nav{
   display: none;
}
/* Main */
#main{
   display: grid; grid-template-columns: 1fr; grid-gap: 50px;
}
/* Banner */
.banner{
   width: 100%; height: 100vh; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/banner1.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.banner-wrap{
   margin: 0 auto; max-width: 960px; display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column; text-align: center;
}
.banner-wrap h1{
   color: #fff; font-size: 2.6rem; margin: 20px 0; padding: 0 20px;
}
.banner-wrap p{
   color: #fff; font-size: 1.5rem; margin: 5px 0; padding: 0 20px;
}
/* Location */
.location{
   width: 100%;
}
.location-wrap{
   max-width: 960px; margin: 0 auto; display: grid; grid-template-columns: 1fr; grid-gap: 30px;
}
.location-wrap h1{
   text-align: center; font-size: 1.6rem; margin-bottom: 10px;
}
.location-wrap p{
   font-size: 1.4rem; padding: 0 20px;
}
.location-img{
   width: 100%; height: 400px; background-image: url("images/shakkyscafe.jpg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.location-wrap h2{
   font-size: 1.1rem; padding: 0 20px;
}
/* Footer */
footer{
   width: 100%; height: 60px; margin-top: 50px; border-top: solid 1px #999;
}
.footer-wrap{
   margin: 0 auto; max-width: 960px; height: 100%; display: flex; align-items: center; justify-content: center;
}
/* Responsive Tablet */
@media(min-width:700px) {
   /* Header */
   #burger{
      display: none;
   }
   #nav{
      width: 600px; list-style-type: none; display: flex; justify-content: space-between;
   }
   #nav a{
      text-decoration: none; color: #fff;  font-size: 1.1rem; display: block; padding: 10px; margin: 10px 0;
   }
   #logo{
      width: 120px; height: 120px;
   }
   /* Location */
   .location-img{
      height: 500px;
   }
}
@media(min-width: 960px) {
   /* Header */
   nav{
      padding: 0;
   }
   /* Location */
   .location-wrap h2{
      padding: 0;
   }
   .location-wrap p{
      padding: 0;
   }
}
/*============================================================================================*/
/*========================================= Menu Page ========================================*/
/*============================================================================================*/
/* Main */
#menu-main{
   display: grid; grid-template-columns: 1fr;
}
/* Banner */
.menu-banner{
   width: 100%; height: 100vh; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/menubanner.jpeg"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
.menu-banner-wrap{
   margin: 0 auto; max-width: 960px; height: 100%; display: flex; align-items: center; justify-content: center; text-align: center;
}
.menu-banner-wrap > h1{
   font-size: 2.4rem; color: #fff; padding: 20px; margin-top: 50px;
}
/* Espresso */
.menu-espresso-wrap{
   display: grid; grid-template-columns: 1fr;
}
.menu-espresso-box{
   width: 100%; height: 280px; display: grid; grid-template-columns: 1fr 1fr; padding: 20px;
}
.menu-espresso-text{
   display: flex; flex-direction: column; justify-content: center;
}
.menu-espresso-text > h1{
   font-size: 1.8rem; margin-bottom: 10px;
}
.menu-espresso-text > a{
   font-size: 1.3rem; text-decoration: none; color: #fff; background: #333; border: solid 2px #333;; padding: 5px; text-align: center; width: 130px;
}
#espresso-0{
   background-image: url("images/1.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-1{
   background-image: url("images/2.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-2{
   background-image: url("images/3.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-3{
   background-image: url("images/4.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-4{
   background-image: url("images/5.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-5{
   background-image: url("images/6.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-6{
   background-image: url("images/7.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-7{
   background-image: url("images/8.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-8{
   background-image: url("images/9.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
#espresso-9{
   background-image: url("images/10.png"); background-position: center; background-size: cover; background-repeat: no-repeat;
}
@media(min-width:700px) {
   .menu-espresso-wrap{
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
   }
   .menu-banner-wrap > h1{
      font-size: 4rem; color: #fff; padding: 20px;
   }
}
@media(min-width:960px) {
   .menu-espresso-box{
      padding: 50px;
   }
}





